
.playerHand {
  text-align: center;
}
.dealer-hand-outer h2 {
  text-align: center;
}
.button {
  display: inline-block;
  width: 80px;
  text-align: center;
  border: 1px solid;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
}
.top-button {
  display: block;
  font-size: 1.5em;
  width: 200px;
  margin: 20px auto;
}

#deal {
  display: none;
}