
.playerHand {
  text-align: center;
}
.dealer-hand-outer {
  text-align: center;
}
.score {
  width: 100%;
  font-size: 1.5em;
  display: block;
}
.button {
  display: inline-block;
  width: 80px;
  text-align: center;
  border: 1px solid;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
}

#newGame {
  display: none;
}

.button.is-active {
  background-color: green;
  color: white;
  cursor: pointer;
}

.top-button {
  display: block;
  font-size: 1.5em;
  width: 200px;
  margin: 20px auto;
}

.card {
  width: 128px;
  height: 192px;
  margin: 0 5px;
  display: inline-block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.side {
  border-radius: 10px;
  border: .5px solid black;
  width: 100%;
  height: 100%;
}

.side1 {
  background-image: url('../img/playing-card-back.jpg');
  background-size: cover;
  display: block;
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  padding: 5%;
  padding-top: 20%;
}

.side2 {
  transform: rotateY( 180deg );
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY( 180deg );
}
